.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name-box
        masa
      .side-bar__user-name__top-items__icon
        = link_to "#", class: "side-bar__user-name__top-items__icon__btn" do
          = icon('far', 'edit',  class: "side-bar__user-name__top-items__icon__btn--icon1")
        = link_to "#", class: "side-bar__user-name__top-items__icon__btn" do
          = icon('fa', 'cog',  class: "side-bar__user-name__top-items__icon__btn--icon2")
  .side-bar__group-list
    .side-bar__group-list__group-box
      .side-bar__group-list__group-box__group-name
        techcamp
      .side-bar__group-list__group-box__message-list
        まだメッセージがありません
    .side-bar__group-list__group-box
      .side-bar__group-list__group-box__group-name
        techcamp
      .side-bar__group-list__group-box__message-list
        まだメッセージがありません